.viewToursEncompass{
    width: 100%;
    height: 100%;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    background-color:papayawhip;
}

.what{
    background-color: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;

    font-family: "Merriweather";

    margin-bottom: 2rem;
}