.filterEncompass {
  width: 100%;
  height: 100%;
  background-color: wheat;
}

.filterSection {
  height: 50vh;
  width: 100%;
  background-color: plum;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Merriweather";
}

.subheading {
  font-family: "Arimo";
}

.toursSection {
  width: 100%;
  height: 100%;
  background-color: peachpuff;
}
