.titleEncompass{
    width: 100%;
    height: 20vh;
    background-color: black;
    padding: 2rem;
}

.heading{
    font-family: "Merriweather";
}

.subHeading{
    font-family: "Commissioner";
    font-size: 1.5rem;
}

.heading, .subHeading{
    color: white;
}