.travellerPageEncompass {
  height: 100vh;
  width: 100vw;
  background-color: teal;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.travellerNav {
  background-color: black;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0rem 2rem 0rem;
  grid-column: 1/2;
}

.mainOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.subOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  color: white;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 2rem;
}

.options:hover {
  background-color: white;
  color: black;
}

.travellerWorking{
  width: 100%;
  height: 100vh;
  background-color: white;
  grid-column: 2/21;

  overflow-y: scroll;
}

.top{
  width: 100%;
  height: 2rem;

  background-size: 200% 200%;
  animation: gradient 10s infinite;
}