.adminPageEncompass {
  display: grid;
  grid-template-columns: 1fr;

  width: 100vw;
  height: 100%;

  background: linear-gradient(60deg, powderblue, plum, crimson);
  background-size: 200% 200%;
  animation: background 6s infinite;
}

@keyframes background {
  0% {
    background-size: 200% 200%;
  }

  50% {
    background-size: 150% 200%;
  }

  100% {
    background-size: 200% 200%;
  }
}

.title {
  padding: 2rem;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Merriweather";
  font-size: 2.5rem;
}

.subheading {
  font-family: "Ysabeau Infant";
  font-size: 1.5rem;
}

.agents {
  width: 100%;
  height: 60vh;
  border: solid 0.5rem black;
  overflow-y: scroll;
  background-color: white;
}

td,
tr {
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
