@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

.boldEncompass {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: black;

  transition: all 0.5s ease-in;

  overflow: hidden;
}

.coverImage {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;

  transition: all 0.5s ease-in;

  animation: expand 40s infinite;
}

@keyframes expand {
  0% {
    width: 100vw;
  }

  50% {
    width: 120vw;
  }

  100% {
    width: 100vw;
  }
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(1, 20, 10, 0.3);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 1rem;
}

.navbar {
  grid-row: 1/2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.boldContent {
  grid-row: 2/9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContent {
  margin-left: 2rem;
  margin-top: 6em;
}

.normalText {
  font-family: "Benne";
  font-size: 4rem;
}

.counter {
  font-family: "Smooch Sans";
  margin-right: 2rem;
  margin-top: 3rem;
}

.specialText,
.normalText, 
.counter{
  color: white;
}

.options {
  display: flex;
  flex-direction: row;
}

.logo {
  color: white;
  border-radius: 10rem;
  padding: 0.3rem;
  font-family: "Fredericka the Great";

  display: flex;
  flex-direction: row;
}

.logreg {
  color: white;
  border-radius: 300rem;
  padding: 0.3rem 2rem 0rem 2rem;
}

.logreg:hover {
  background-color: rgba(1, 1, 1, 0.6);
  box-shadow: 1px 1px 10px 3px white;
  color: black;
}

.moveDown {
  align-self: center;
  position: relative;
  color: white;
}

.moveDown {
  animation: hover 2s infinite;
}

@keyframes hover {
  50% {
    transform: translateY(1.5rem);
  }
}

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    display: block;
  }

  50% {
    display: none;
  }

  100% {
    display: block;
  }
}
