.faqEncompass {
  display: grid;
  grid-template-columns: (5, 1fr);
}

.question,
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answer {
  font-family: "Commissioner";
  overflow: clip;
  background-color: green;
}

.question {
  font-family: "Permanent Marker";
  background-color: red;
}

.faqTitle {
  grid-column: 1 / 3;
  font-family: "Arimo";
  padding: 2rem;
  margin-right: 10rem;
}

.qa {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 3 / 6;
}
