.cardBody {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  border: solid 0.5rem black;

  box-shadow: 1.5rem 1.5rem black;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.details{
    grid-row: 1 / 2;
    border-bottom: solid 0.5rem black;
    padding: 1rem;
}

.review{
    grid-row: 2 / 3;
    padding: 1rem;
}

.name{
    font-family: "Merriweather";
}

.duration{
    font-family: "Commissioner";
}

.words{
    font-family: "Commissioner";
    font-size: 1.2rem;
    margin-left: 2rem;
}