.home {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    perspective: 10px;
}

.bold {
    scroll-snap-align: start; 
}

.reviews {
    scroll-snap-align: start; 
}

.footer {
    scroll-snap-align: start; 
}
