.cardBody {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  border: solid 0.5rem black;

  box-shadow: 1.5rem 1.5rem black;

  display: grid;
  grid-template-columns: 1fr;
  margin-right: 4rem;
}

.details{
    grid-row: 1 / 2;
    padding: 1rem;
    width: 30rem;
}   

.name{
    font-family: "Merriweather";
    margin-top: 1rem;
}

.duration{
    font-family: "Commissioner";
}