.feedbackEncompass {
  width: 100vw;
  height: 80vh;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  background-color: rgb(246, 184, 25);
  padding: 3rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
}

.heading {
  font-family: "Merriweather";
  font-size: 4rem;
  color: black;
}

.subheading {
  font-family: "Commissioner";
  font-size: 1.5rem;
  color: white;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

.send {
  font-family: "Bungee Shade";
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: black;
}

.send:hover {
  font-size: 4rem;
}

.submit {
  height: 1rem;
}
